/* style.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('images/bg-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between; /* Adjust this value as needed */
  align-items: center; /* Adjust this value as needed */
}

.mockup {
  margin-right: 80px; /* Adjust margin-right to create space between mockup and text */
  margin-top: 200px;
  margin-left: 80px;
}

.welcome-text {
  color: black;
  font-size: 23px;
  text-align: left;
  margin-right: 200px;
}

.login {
  font-size: 18px; /* Adjust the font size as needed */
  background-color: white;
  color: #711DB0;
  padding: 20px 80px; /* Adjust padding to increase button size */
  margin-top: 40px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  transition: color 0.3s ease; /* Add smooth transition effect */
}

.login:hover {
  background-color: #C539B4; /* Change the background color on hover if desired */
  color: white;
}

.footer {

  background-color: white; /* Background color of the footer */
  padding: 20px; /* Adjust padding as needed */
  text-align: right; /* Align icons to the right */
}

.social-icons {
  font-size: 30px; /* Adjust icon size as needed */
}

.social-icons i {
  margin-left: 15px; /* Adjust margin between icons */
  color: black; /* Icon color */
  cursor: pointer;
  transition: color 0.2s ease; /* Add smooth transition effect */
}

.social-icons i:hover {
  color: #C539B4; /* Change color on hover */
}