body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg-desktop.svg'); /* Adjust the path accordingly */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mockup{
    margin-top: 200px;
    margin-left: 80px;
}
